header {
  background-color: #D7D3D3;
  width: 100%;
  height: 30%; }

.class1 {
  background-color: #BFB0A4; }

.service {
  background-color: #BFB0A4; }

.carousel-inner img {
  width: 100%;
  height: 600px; }

h1 {
  text-align: center; }

.class3 img {
  width: 100%;
  height: 600px; }

.class4 img {
  width: 100%;
  height: 200px; }

ul {
  list-style: none; }

.fa_custom {
  color: #0099CC; }

.fa_custominsta {
  color: #DE28A4; }

.fa_customtwitter {
  color: #00acee; }
